body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87C4FF;
    color:rgb(0, 0, 0);
}
.custom-container {
    background-color: #E0F4FF;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
.custom-container h1 {
    margin-bottom: 20px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}